In [1]:
a=10

In [2]:
a

10

In [3]:
a="c"

In [5]:
type(a)

str

In [6]:
int()

0

In [7]:
int('123')

123

In [8]:
int('abcd')

ValueError: invalid literal for int() with base 10: 'abcd'

In [9]:
print('hello')

hello

In [10]:
print(123)

123

In [11]:
print("hello")

hello

In [14]:
age=27
print ("my age is :",age)

my age is : 27

In [16]:
print("My Age is :{age}")

My Age is :{age}

In [19]:
# f string in python which is basically use for formatting
print(f"My Age is : {age}")

My Age is : 27

In [23]:
## format()
name="Rohan"
age=27
print ("my name is {} and age is {}".format(name,age))

my name is Rohan and age is 27

In [24]:
print ("my name is {} and age is {}".format(age,name))

my name is 27 and age is Rohan

In [25]:
## Place holder
print ("my name is {firstname} and age is {firstage}".format(firstname=name,firstage=age))

my name is Rohan and age is 27

In [31]:
name="Rohan mate"
age=27
degree="BE"

print(f" My age is {age} and i have completed : my degree {degree} with the name of {name}")

 My age is 27 and i have completed : my degree BE with the name of Rohan mate

In [33]:
print(" My age is {} and i have completed : my degree {} with the name of {}".format(age,degree,name))

 My age is 27 and i have completed : my degree BE with the name of Rohan mate

## Control Flow 
### Decision Making statements

In [34]:
## if statement
age=18
if age>=18:
    print("You Are Eligible For Vote")

You Are Eligible For Vote

In [38]:
age=18
if age<18:
    print("You Are not Eligible For Vote")

In [39]:
age=17
if age<18:
    print("You Are not Eligible For Vote")

You Are not Eligible For Vote

In [1]:
name=input("Enter Your name")

Enter Your name Rohan

In [2]:
age=int(input("Enter Your Age"))

Enter Your Age 27

In [4]:
type(age)

int

In [6]:
## Task 
## Take input of age 
## check whether age>=18 and age<=45
## Display a message You are young blood

In [9]:
age=int(input("Enter The Age"))
if age >=18 and age <=45:
    print("You Are Young Blood")

Enter The Age 27

You Are Young Blood

In [10]:
age=int(input("Enter The Age"))
if age >=18 and age <=45:
    print("You Are Young Blood")

Enter The Age 17

In [11]:
age=int(input("Enter The Age"))
if age >=18 and age <=45:
    print("You Are Young Blood")

Enter The Age 50

In [12]:
22>=18 and 22<=45

True

In [13]:
17>=18 and 22<=45

False

In [14]:
## If else statement
age=int(input("Enter The Age"))
if age >=18 and age <=45:
    print("You Are Young Blood")
else:
    print("Thank You we will let you know")

Enter The Age 17

Thank You we will let you know

In [15]:
## Account money 
## money > 1000 rs
## get discount of 10% off

In [16]:
## Mall - input the product price 
## product > 1000 rs 20 % off 
## print the product price after the discount
## product <= 1000 rs 30 % off 
## print the product price after the discount

In [24]:
## My Try ( Mistake use else for 2 contion if multiples then nested if use)
price=int(input("Enter The Price"))
if price> 1000:
    print(int(price*0.80))
if price < 1000:
    print(int(price*0.70))

Enter The Price 5000

4000

In [22]:
## Sir Explaination
product_price=int(input("Enter The Price"))
if product_price>1000:
    print("The price of the product is {}".format(product_price*0.80))
else:
    print("The price of the product is {}".format(product_price*0.70))

Enter The Price 5000

The price of the product is 4000.0

In [ ]:
## Mall - input the product price 
## product > 3000 rs 20 % off 
## print the product price after the discount
## product >= 2000 rs and <= 3000 30 % off 
## print the product price after the discount 
## product <= 1000 rs and <= 2000 40 % off 
## print the product price after the discount

In [29]:
## My Try
product_price=int(input("Enter the price"))
if product_price > 3000:
    print(f"The price of the product is {product_price*0.8}")
if product_price>=2000 and product_price<=3000:
    print(f"The price of the product is {product_price*0.7}")
if product_price<=1000 and product_price<=2000:
    print(f"the price of the product is {product_price*0.6}")

Enter the price 5000

The price of the product is 4000.0

In [2]:
## Sir Explaination
product_price=int(input("Enter The Price"))
if product_price>3000:
    print(f"the price of product is {product_price*0.8}")
elif product_price>=2000 and product_price<=3000:
    print(f"the price of product is {product_price*0.7}")
else:
    print(f"the price of product is {product_price*0.6}")

Enter The Price 700

the price of product is 420.0

In [ ]:
## Nested if 

## Mall - input the product price 
## product > 3000 rs 20 % off 
## price is == 4000 you get a trip to goa 
## print the product price after the discount
## product >= 2000 rs and <= 3000 30 % off 
## print the product price after the discount
## price==2999 u will get additional gifts
## product <= 100 rs and <= 2000 40 % off 
## print the product price after the discount 


## Double Sign ( == ) use for compairision

In [10]:
product_price=int(input("Enyer The Price"))
if product_price>3000:
    if product_price==4000:
        print("Congratulation you get a trip to goa")
    print(f"The price of product is {product_price*0.8}")
elif product_price>=2000 and product_price<=3000:
    if product_price==2999:
        print("Congratulation you get an additional gifts")
        print(f"The price of the product is {product_price*0.6}")
elif product_price>=100 and product_price<=2000:
    print(f"the price of product is {product_price*0.6}")
else:
    print("Lets drink tea")
    print("i will also there")

Enyer The Price 4000

Congratulation you get a trip to goa
The price of product is 3200.0

In [12]:
## single statement
val=int(input("Enter the number"))
if (val<=999):print("value is less than equal to 999")
else:
    print("Go Home")

Enter the number 1200

Go Home

## Loops Statement
1.while loop
2.for loop
3.nested loop 
4.loop control(brek,continue,pass)

In [16]:
# while loop ( while - else)
joining_age=25
i=1
while joining_age<=60:
    print(joining_age)
    joining_age=joining_age+1
else:
    print("its time for retirement")

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
its time for retirement

In [18]:
### ATM machine with 1000 rs
total_amount=1000
while total_amount!=0:
    total_amount=total_amount-100
    print(total_amount)
else:
    print("put more money")

900
800
700
600
500
400
300
200
100
0
put more money

## For Loop

In [1]:
lst=["rohan",1,2,3,4,"apple","banana"]

In [2]:
type(lst)

list

In [3]:
lst[0]

'rohan'

In [4]:
lst[5]

'apple'

In [5]:
lst

['rohan', 1, 2, 3, 4, 'apple', 'banana']

In [6]:
for x in lst :
    print(x)

rohan
1
2
3
4
apple
banana

In [7]:
fruits_list=["mango","cherry","apple","papaya","banana"]

In [11]:
for a in fruits_list:
    print(a)
    if a=="cherry":
        print("the fruit is cherry")
        break

mango
cherry
the fruit is cherry

In [13]:
# string is an collection of element
fruit="mango"
for x in fruit:
    print(x)

m
a
n
g
o

In [16]:
fruit[0]

'm'

In [2]:
### nested loops

n=7

In [4]:
range(1,10,1)

range(1, 10)

In [5]:
for i in range (1,6):
    print(i)

1
2
3
4
5

In [6]:
for i in range (1,10,2):
    print(i)

1
3
5
7
9

In [14]:
## nested loop

n=7

for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")
    print("\r")

*
**
***
****
*****
******
*******

In [16]:
## loop controls 
# break and continue

fruits_list=["mango","cherry","apple","papaya","banana"]

In [17]:
for i in fruits_list:
    if i== "apple":
        print("the fruit is apple")
    print(i)

mango
cherry
the fruit is apple
apple
papaya
banana

In [19]:
# break statement is use for loop control (once the condiotion satisfied then stop the loop) 
for i in fruits_list:
    if i== "apple":
        print("the fruit is apple")
        break
    print(i)

mango
cherry
the fruit is apple

In [23]:
# pass it will not doing nothing
for i in fruits_list:
    if i== "apple":
        print("the fruit is apple")
        pass
    print(i)

mango
cherry
the fruit is apple
apple
papaya
banana

In [22]:
# continue statement use for skip that particular things 
for i in fruits_list:
    if i== "apple":
        print("the fruit is apple")
        continue
    print(i)

mango
cherry
the fruit is apple
papaya
banana