### Youtube - function of python

In [2]:
# let's create a function (with docstring)

In [6]:
def is_even(num):
    """
    This function returns if a given number is odd or even 
    input - any valid integer 
    output - odd/even
    """
    if num % 2 == 0:
        return 'even'
    else:
        return 'odd'

In [7]:
# call function

for i in range(1,11):
    x = is_even(i)
    print(x)

odd
even
odd
even
odd
even
odd
even
odd
even

In [8]:
for i in range(1,11):
    x = i,is_even(i)
    print(x)

(1, 'odd')
(2, 'even')
(3, 'odd')
(4, 'even')
(5, 'odd')
(6, 'even')
(7, 'odd')
(8, 'even')
(9, 'odd')
(10, 'even')

In [10]:
# 2 point of views
is_even("hello")
# how to handle this error

TypeError: not all arguments converted during string formatting

In [11]:
def is_even(num):
    if type(num) == int:
        if num % 2 == 0:
            print('even')
        else:
            print('odd')
    else:
        print("pagal hai kya")

In [14]:
is_even("hello")

pagal hai kya

### Types of Arguments
##### default argument
##### positional argument
##### keyword argument

In [15]:
def power(a,b):
    return a**b

In [17]:
power(5,2)

25

In [18]:
power(5)

TypeError: power() missing 1 required positional argument: 'b'

In [23]:
def power(a=1,b=1):
    return a**b
# default argument

In [20]:
power(5,2)

25

In [21]:
power(2)

2

In [22]:
power()

1

### positional argument

In [25]:
power(2,3)
# jis order mein arguments ko bhejte ho usi oder mein parameter recieve karta hain

8

### Keyword argument

In [26]:
power(b=3,a=2)
# yaha pe positional argument follow nahi hue isse ko key argument kehte hain
# positional argument ko keyword argument superseed karta hain

8

### *args & **kwargs 
##### are special python keyword that are use to pass the variable length of arguments to a function

In [29]:
# * args 
# allow us to pass a variable number of non keyword arguments to a function

def multiply(a,b):
    return a*b

In [30]:
multiply(2,3)

6

In [31]:
def multiply(a,b,c):
    return a*b *c

In [32]:
multiply(2,3,4)

24

In [34]:
# que aisa function bana do ki kitne bhi no of input dene pe multiply bana ke de 
# ans : tab hum args ka use karte hain

In [35]:
def multiply(*args):
    product=1
    
    for i in args :
        product = product * i
        
    return product

In [37]:
multiply(1,2,3,4,5,6,7,8,9)

362880

In [38]:
def multiply(*args):
    product=1
    
    for i in args :
        product = product * i
    print(args)    
    return product

In [40]:
multiply(1,2,3,4,5)
# astricks(*) ka meaning hai no variables aap use krr sakte ho - aur wo variable tuples me save ho jate hain aur hum unpar loop laga sakte hain

(1, 2, 3, 4, 5)

120

In [41]:
### **kwargs 
# **kwargs allow us to pass any number of keyword arguments.
# keyword arguments mean that they contain a key value pair , like a python dictionary
# **kwargs mein hum jo kuch bhi bhejenge wo dictionary mein add hoga 

def display(**kwargs):
    
    for (key,value) in kwargs.items():
        print(key,'->',value)

In [42]:
display(india = 'delhi',srilanka='colombo',nepal='kathmandu')

india -> delhi
srilanka -> colombo
nepal -> kathmandu

In [43]:
display(india = 'delhi',srilanka='colombo',nepal='kathmandu',pakistan='islamabad')

india -> delhi
srilanka -> colombo
nepal -> kathmandu
pakistan -> islamabad

#### points to remember while using *args and **kwargs

##### 1. order of the arguments matter (normal -> *args -> **kwargs)
##### 2. The word "args" and "kwargs" are only a convention , you can use any name of your choice

### Without return statement

In [47]:
def is_even(num):
    if num % 2 == 0:
        print("even")
    else:
        print("odd")

In [48]:
is_even(7)
# ans print karega but return mein internally none ho jayega

odd

In [51]:
L=[1,2,3]
print(L.append(4))
# idhar sirf usne append kiya return kuch nahi bheja

None

In [50]:
L=[1,2,3]
print(L.append(4))
print(L)

None
[1, 2, 3, 4]

### Variable Scope

In [52]:
def g(y):
    print(x)
    print(x+1)
    
x=5
g(x)
print(x)

5
6
5

In [54]:
def f(y):
    x =1
    x += 1
    print(x)
x=5
f(x)
print(x)

2
5

In [57]:
def h(y):
    x +=1
x=5
h(x)
print(x)

UnboundLocalError: local variable 'x' referenced before assignment

In [58]:
def h(y):
    global x
    x +=1
x=5
h(x)
print(x)

6

### Nested function

In [61]:
def f():
    def g():
        print('inside function g')
    g()    
    print('inside function f')

In [62]:
f()

inside function g
inside function f

In [2]:
g()
# error aa gaya - nested function main program se hidden hota hai hum directly andar wale function ko access nahi krr sakte
#                 andar wale function ko sirf bahar wala hi function access krr sakta hain

NameError: name 'g' is not defined

In [3]:
def g(x):
    def h():
        x = 'abc'
    x = x+1
    print('in g (x) :',x)
    h()
    return x 
x=3
z=g(x)

in g (x) : 4

### fumctions are 1st class citizen

In [4]:
# type and id 
def square(num):
    return num **2

type(square)

function

In [5]:
# function will act as data type

In [6]:
# reassign 

x = square(3)
x

9

In [7]:
x = square
x

In [8]:
x=square
id (x)

139731529245040

In [9]:
x=square
id (x)
x(3)

9

In [10]:
# deleting a function 

del square

In [11]:
square(3)

NameError: name 'square' is not defined

In [12]:
# storing
def square(num):
    return num **2
type(square)

L=[1,2,3,4,square]
L

[1, 2, 3, 4, <function __main__.square(num)>]

In [13]:
# to aap jis tarah se kisi bhi data type ko list ke andar daal sakte ho to function ko bhi daal sakte ho

In [16]:
# sets ke andar mutable data types nahi daal sakte to hum function ko apply karenge 
# sets ke andar hamne function dala or wo execute bhi ho gaya to iska matlab hai ki function immutable hain 
s={square}
s

{<function __main__.square(num)>}

In [18]:
# returning a function - ek function dusre function ko return krr raha hain
def f():
    def x (a,b):
        return a + b 
    return x 
val = f()(3,4)
print(val)

7

In [19]:
# function as argument

In [21]:
def func_a():
    print('inside func_a')
    
def func_b(z):
    print('inside func_b')
    return z()
print(func_b(func_a))

inside func_b
inside func_a
None

### Benifits of using a function
#### code modularity
#### code rediability
#### code reusability

### Lambda Function
#### a lambda function is small anonymous function.
#### a lambda function can take any number of arguments,but can only have one expression

In [22]:
# lambda is small anonymous function -> matlab jiska naam nahi hota

In [23]:
# x -> x+y

lambda x: x**2

In [24]:
a=lambda x: x**2
a(2)

4

In [25]:
a =lambda x,y:x+y
a(5,4)

9

In [28]:
# check if a string has 'a'

a=lambda s:'a' in s
a('hello')

False

In [29]:
# odd or even
a=lambda x : 'even' if x%2 == 0 else 'odd'
a(6)

'even'

In [26]:
# difference between lambda and normal function
# 1. no name
# 2. lambda has no return value(infact return a function)
# 3. lambda is written in one line
# 4. not reusable

In [27]:
# lambda function ko reusability ke liye nahi banaya normal function reusability ke liye banaya gaya hain
# then why use lambda function
# ans : they are use with HOF (Higher Order Function)

### Higher Order function

In [30]:
# HOF -> ek aisa function jo dusre function ko return kare / ya fir / ek aisa function jo input mein kisi function ko recieve kare

In [32]:
# example

def square(x):
    return x**2
# transform is HOF 
def transform(f,l):
    output=[]
    for i in l :
        output.append(f(i))
        
    print(output)

l=[1,2,3,4,5]
transform(square,l)

[1, 4, 9, 16, 25]

#### Map

In [34]:
# square the items of a list

list(map(lambda x:x**2,[1,2,3,4,5]))

[1, 4, 9, 16, 25]

In [37]:
# odd even labelling of a list items 
L=[1,2,3,4,5,6,7,8,9]
list(map(lambda x :'even' if x%2 == 0 else 'odd',L))

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [38]:
# fetch names from a list of dictionary

users=[
    {
        'name':'rahul1',
        'age': 45,
        'gender':'male'
    },
    {
        'name':'nitish',
        'age': 33,
        'gender':'male'
    },
    {
        'name':'ankita',
        'age': 50,
        'gender':'female'
    }    
]    
        
list(map(lambda users: users['gender'],users))

['male', 'male', 'female']

In [39]:
list(map(lambda users: users['name'],users))

['rahul1', 'nitish', 'ankita']

In [40]:
list(map(lambda users: users['age'],users))

[45, 33, 50]

### Filter

In [41]:
# sum of all items

L=[3,4,5,6,7]

list(filter(lambda x : x>5,L))

[6, 7]

In [42]:
# filter -> map list ke hrr object pe logic apply karta hain or filter condition mein jo true usko hi execute karega

In [43]:
# fetch fruits starting with 'a'

fruits=['apple','guava','cherry']

list(filter(lambda x : x.startswith('a'),fruits))

['apple']

### Reduce

In [44]:
# sum of all items 

import functools

functools.reduce(lambda x, y : x+y,[1,2,3,4,5])

15

In [1]:
import functools

functools.reduce(lambda x, y : x+y,[1,2,3,4,5,6])

21

In [2]:
# find Min

functools.reduce(lambda x, y : x if x<y else y,[23,11,45,10,1])

1

In [3]:
# find max
functools.reduce(lambda x, y : x if x>y else y,[23,11,45,10,1])

45